# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven
# https://github.com/actions/create-release

name: Release

on:
  push:
    tags:
      - v**

jobs:
  build:
    uses: ./.github/workflows/build.yml
  release:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Download math result for job 2
        uses: actions/download-artifact@v4
        with:
          name: packages
          path: staging
      - name: "Create release"
        run: gh release create ${GITHUB_REF_NAME} staging/* --generate-notes --verify-tag
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
